[Unit]
Description=Battery Status Update (MAX17043)
After=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/battery-oneshot.py
StandardOutput=journal
StandardError=journal
